/* CSS for Form Container */
form {
  width: 400px;
  margin-left: 2vw;
  margin-top: 2vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* CSS for Form Inputs */
div {
  margin-bottom: 10px;
}

p {
  margin-left: 2vw;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Error Message Styling */
span {
  color: red;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 350px; /* Set the width to 300px */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

textarea {
  width: 350px; /* Set the width to 300px */
  height: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

/* Button Styling */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 2vw; /* Add left margin of 2vw to the button */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
